/* * {
    background-color: #fae3d9;
}

.home-links {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    font-size: 36pt;
    background-color: #61c0bf;
    width: 100%;
    height: 100%;
}

.home-links a {
    display: inline-block;
    text-decoration: none;
    font-family: sans-serif;
    color: #ffb6b9;
    background-color: #61c0bf;
    width: 100%;
    height: 100%;
}

.home-links li {
    display: inline-block;
    background-color: #61c0bf;
    padding: 0px;
    width: 100%;
    height: 100%;
}

div {
    display: inline-block;
    background-color: #61c0bf;
    width: 100%;
    height: 100%;
} */

* {
    font-family: sans-serif;
    /* background-color: #607d8b; */
    /* background-color: #121a29 */
    /* background-color: #76819a; */
    background-color: #f1f3f4;
}

a {
    text-decoration: none;
}

/* .home-links a{
    font-size: 36pt;
    color: #76819a;
    color: #121a29
} */

.home-links {
    /* text-align: center; */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.home-page{
    text-decoration: none;
    font-size: 20px;
}

.home-page .home-links li {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    font-size: 36pt;
    width: 100%;
    height: 100%;
    float: none;
}

.home-page .home-links li a {
    color: #212628;
    background-color: transparent;
}

.home-links li {
    float: left;
}

.home-links li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* color: #755c3b; */
    color: white;
    background-color: #212628;
    opacity: .7;
}

a {
    color: #006687;
    text-decoration: underline;
}

.post-list a {
    text-decoration: none;
}

a:visited {
    /* color: #755C3B; */
}

p {
    color: #323739;
}

.home-links,
.post-list {
    list-style-type: none;
}

.post-list li{
    margin: 15px;
}

code{
    font-family: monospace, monospace;
    font-size: 1em;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}
